<ol class="breadcrumb top-5">
  <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
  <li class="breadcrumb-item"><a routerLink="/team">Team</a></li>
  <li class="breadcrumb-item active">{{lawyer?.name}} {{lawyer?.lastName}}</li>
</ol>
<div *ngIf="lawyer">
  <div class="row">
    <div class="col-3 section"> <img class="img-fluid" src={{lawyer.img}} alt="Card image cap"> </div>
    <div class="col-9  section">
      <h2> {{lawyer.name}} {{lawyer.lastName}}</h2>
      <i class="fa fa-phone" aria-hidden="true"></i> {{lawyer.phone}}
      <div class="alert alert-info">
        <strong>Practice Areas</strong>
        <ul>
          <div *ngFor="let item of $practiceAreas | async">
            <li *ngIf="hasArea(item)"><a routerLink="/practice/{{item.id}}">{{item.name}}</a></li>
          </div>

        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <strong>Bio</strong>
    <p align=justify [innerHTML]="lawyer.biography"></p>
  </div>
</div>